In [ ]:
#Buatlah kode dimana outputnya merupakan bilangan fibbonaci di antara 1-100

bil_a = 0
bil_b = 1
bil_tampung = 1 
trigger = True
list = []


while trigger:
  if bil_tampung < 100:
    list.append(bil_tampung)
    
  else:
    trigger = False
  bil_tampung = bil_a + bil_b
  bil_a = bil_b
  bil_b = bil_tampung

print(list)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [ ]:
#Buatlah kode dimana outputnya merupakan 50 bilangan prima pertama

count = 0
total = 0
trigger = False
list_new = []

while trigger == False:
  
  if total == 50:
    trigger = True
  
  if count % 2 == 1:
    total += 1
    list_new.append(count)

  count += 1
  
print(list_new)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]